<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>基础</string>
		<key>data</key>
		<array>
			<string>叠化</string>
			<string>闪黑</string>
			<string>闪白</string>
			<string>上移</string>
			<string>下移</string>
			<string>左移</string>
			<string>右移</string>
			<string>向上擦除</string>
			<string>向下擦除</string>
			<string>向左擦除</string>
			<string>向右擦除</string>
			<string>径向擦除</string>
			<string>圆形</string>
			<string>圆形裁切</string>
			<string>圆形打开</string>
			<string>心形</string>
			<string>星形</string>
			<string>齿轮</string>
			<string>横向拉幕</string>
			<string>竖向拉幕</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>运镜</string>
		<key>data</key>
		<array>
			<string>向左穿越</string>
			<string>向右穿越</string>
			<string>向上穿越</string>
			<string>向下穿越</string>
			<string>径向穿越</string>
			<string>向左滚动</string>
			<string>向右滚动</string>
			<string>向上滚动</string>
			<string>向下滚动</string>
			<string>万花筒</string>
			<string>推近</string>
			<string>拉远</string>
			<string>逆时针旋转</string>
			<string>顺时针旋转</string>
			<string>向上</string>
			<string>向下</string>
			<string>向左</string>
			<string>向左上</string>
			<string>向左下</string>
			<string>向右上</string>
			<string>向右下</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>特效</string>
		<key>data</key>
		<array>
			<string>简单缩放</string>
			<string>交叉缩放</string>
			<string>色相</string>
			<string>燃烧</string>
			<string>浮光掠影</string>
			<string>线性模糊</string>
			<string>翻页</string>
			<string>故障记忆</string>
			<string>立体视角</string>
			<string>梦幻</string>
			<string>网格翻转</string>
			<string>马赛克</string>
			<string>缩放圆</string>
			<string>梦幻之屋</string>
			<string>褪色度</string>
			<string>方向擦除</string>
			<string>随机方格</string>
			<string>旋转缩放</string>
			<string>方块字</string>
			<string>交换</string>
			<string>交叉变形</string>
			<string>风</string>
			<string>亮度融化</string>
			<string>立方体</string>
			<string>移位</string>
			<string>窗口切片</string>
			<string>末日重现</string>
			<string>蝶形垂直</string>
			<string>蝶形水平</string>
			<string>方向扭曲</string>
			<string>变形</string>
			<string>色差</string>
			<string>柏林</string>
			<string>鹰眼</string>
			<string>像素化</string>
			<string>涂鸦</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>更多</string>
	</dict>
</array>
</plist>
